body {
    font-family: "Roboto" , sans-serif;
    color: #434455;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
    display: block;
    border: none;
}

input {
    font-family: inherit;
}

.container {
    max-width: 320px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.logo {
    font-family: "Raleway" , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* HEADER */    /*? DONE ?*/

.menu-open-btn {
    background-color: transparent;
    margin-left: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob-menu {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.menu-close-btn {
    margin-left: auto;
    width: 24px;
    height: 24px;
    border: 1px solid #E7E9FC;
    background-color: transparent;
    border-radius: 100%;
    outline: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-menu-icon {
    fill: #2E2F42; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:focus .close-menu-icon,
.menu-close-btn:hover .close-menu-icon {
    fill: white;
}
.menu-close-btn:focus, .menu-close-btn:hover {
    background-color: #404BBF;
    border: none;
}
.mob-menu-link-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 75px;
}
.mob-menu-list-item {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-list-item:hover, .mob-menu-list-item:focus {
    color: #404bbf;
}
.mob-menu-address {
    margin-bottom: 48px;
}
.mob-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.mob-menu-address-link {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-address-link:hover, .mob-menu-address-link:focus {
    color: #4d5ae5;
}
.mob-menu-social-list {
    display: flex;
    gap: 40px;
}



.header {
   border-bottom: 1px solid #E7E9FC;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
 0 1px 1px 0 rgba(46, 47, 66, 0.16),
  0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container{
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-link-list {
    /* display: flex; */
    display: none;
    gap: 40px;
}

.header-link {
    /* padding-top: 24px;
    padding-bottom: 24px; */
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-logo {
    color: #2E2F42;
}

.allogo {
    /* margin-right: 76px; */
    margin-right: 120px;
}

.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #2E2F42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-item.current {
    position: relative;
}

.header-list-item.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}


.header-active:active,
.header-active:focus,
.header-list-item:hover,
.header-address-link:hover,
.header-address-link:focus,
.header-list-item.current,
.mob-menu-list-item.current {
    color: #404BBF;
}

.header-address {
    display: none;
    margin-left: auto;
}


.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-link {
    /* font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em; */
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* HERO */        /*? DONE ?*/

.hero-section {
    background-color: #2E2F42;
    /* padding-top: 188px;
    padding-bottom: 188px; */
    padding-top: 72px;
    padding-bottom: 72px;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}
@media screen and (min-resolution: 2x) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/people-office-mobile2x.jpg);
    }
}


.hero-title {
    font-weight: 700;
    /* font-size: 56px;
    line-height: 1.07; */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    /* max-width: 496px; */
    max-width: 216px;
    margin: 0 auto 72px auto;
}

.hero-button {
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* FEATURES */        /*?    DONE    ?*/

.features-section {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
} 

.features-section-subtitle {        /*! -----DIFFERENT IN MOBILE----- */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}


.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-icon-box {
    display: none;
    /* display: flex;
    margin-bottom: 8px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    align-items: center;
    justify-content: center; */
}


.features-list .features-list-item {
    /* flex-basis: calc((100% - 72px) / 4); */
    width: 100%;
}

.features-subtitle {
    margin-bottom: 8px;
}

.features-text {
    font-weight: 500;
}


/* PHOTO */      /*?  DONE  ?*/

.photo-card-section .container {
    /* padding-left: 28px;
    padding-right: 28px; */
    max-width: calc(264px + 16px * 2);
}

.photo-card-section {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
    /* padding-top: 120px;
    padding-bottom: 120px; */
}

.card-title {
  margin-bottom: 72px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;

    /* justify-content: center; */
}

.card-item {
    background-color: #fff;
    padding: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
} 

.card-list .card-item {
    /* flex-basis: calc((100% - 72px) / 4); */
    width: 100%;
}


.name-role {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
}

.social-link-team {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-team:hover,
.social-link-team:focus {
    background-color: #404bbf;
}


.card-subtitle {
    text-align: center;
}

.card-text {
    text-align: center;
}

.contact-icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-svg-team {
    fill: #f4f4fd;
}


/* PORTFOLIO */  /*?   DONE   ?*/

 .portfolio {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    row-gap: 48px;
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list .portfolio-item {
    /* flex-basis: calc((100% - 48px) / 3); */
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-type {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.portfolio-subtitle {
    margin-bottom: 8px;
}

/*! ---- OVERLAY ---- !*/

.portfolio-item:hover .overlay-text {
    transform: translateY(0);
}

.wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd; 
    position: absolute;
    top: 0;
    height: 100%;
    transform: translateY(100%);
    background-color: #4D5AE5;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*! ---- OVERLAY ---- !*/

/* FOOTER */       /*? DONE ?*/

.footer {
    background-color: #2E2F42;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;

    align-self: center;
}

.footer-text {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: baseline; */
}

.container .logo-and-text {
    /* margin-right: 120px; */
    margin-right: 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;

    align-self: center;
}

.social-media {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
    margin-right: 0;
    align-items: center;
    /* margin-right: 80px; */
}

.for-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-list {
    display: flex;
    gap: 16px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

.social-svg {
    fill: #f4f4fd;
}




/* *----------------FOOTER FORM----------------* */




.subscription_form {
    display: flex;
    /* flex-direction: row;
    gap: 24px; */
    flex-direction: column;
    gap: 16px;
}


.email-field {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    padding-left: 16px;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;

    opacity: 0.3;
}
.email-field::placeholder {
    color: #fff;

    opacity: 0.6;
}


.email-send {
    align-self: center;
    min-width: 165px;
    padding: 8px 24px;
    
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-send:hover,
.email-send:focus {
    background-color: #31d0aa;
}

.send-icon {
    fill: white;
    margin-left: 16px;
}


/****TODO ----MODAL---- ****/


.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    /* width: 408px;
    min-height: 584px; */
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
     0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 72px 24px 24px 24px; */
    padding: 72px 16px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: transparent;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
    background-color: #404BBF; 
    fill: white; border: none;}

.modal-close-icon {transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}


.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px 8px 38px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: #4D5AE5;
}
/* .modal-input:focus + .form-icon {fill: #4D5AE5;} */
.input-wrapper:focus-within .form-icon { fill: #4d5ae5;}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
    position: relative;
}

.modal-field {
    margin-bottom: 8px;
}
.space {
    margin-bottom: 16px;
}
.modal-field:last-of-type{
    margin-bottom: 24px;
}

.text-area {
    resize: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    outline: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-area:focus{border-color: #4d5ae5;}


.modal-check:checked + .check-text .check-element {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-link {
    color:  #4d5ae5;
}

.check-element {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    
    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/*! -----------768----------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .header-link {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .header-link-list {
        display: flex;
    }
    .header-address {
        display: flex;
    }
    .header-address-list {
        flex-direction: column;
        gap: 12px;
    }
    .mob-menu {
        display: none;
    }
    .menu-open-btn {
        display: none;
    }



    .hero-section {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tablet.jpg);
    }
    @media screen and (min-resolution: 2x) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tablet2x.jpg);
        }       
    }
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin: 0 auto 36px auto;
        max-width: 496px;
    }



    .features-list {
        row-gap: 72px;
        column-gap: 24px;
    }
    .features-list .features-list-item {
        width: calc((100% - 24px) / 2);
    }
    .features-section-subtitle {
        text-align: left;
    }


    .card-list {
        row-gap: 64px;
        column-gap: 24px;
    }
    .card-list .card-item {
        width: calc((100% - 24px) / 2);
    }
    .photo-card-section .container {
        /* padding-left: 108px;
        padding-right: 108px; */
        max-width: calc(264px * 2 + 16px * 2 + 24px);
    }

    
    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }
    .portfolio-list .portfolio-item {
        width: calc((100% - 24px) / 2);
    }



    .footer .container {
        max-width: calc(264px + 24px + 208px + 16px * 2);
        column-gap: 24px;
        row-gap: 72px;
        flex-direction: row;
    }
    .footer-link {
        align-self: normal;
    }
    .social-text {
        align-self: normal;
    }
    .social-media {
        align-items: normal;
        margin-bottom: 0;
    }
    .for-form {
        align-items: normal;
    }
    .email-send {
        align-self: normal;
    }
    .subscription_form {
        flex-direction: row;
        gap: 24px;
    }
    .container .logo-and-text {
        margin-bottom: unset;
    }
    .email-field {
        width: 264px;
    }


    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

/*! -----------1158----------- */

@media screen and (min-width: 1158px) {
    .container, .photo-card-section .container, .footer .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }


    .allogo {
        margin-right: 76px;
    }
    .header-address-list {
        flex-direction: row;
        gap: 40px;   
    }
    .header-address-link {
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
    }


    .hero-section {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
    }
    @media screen and (min-resolution: 2x) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/people-office2x.jpg);
        }
    }
    .hero-title {
        margin: 0 auto 48px auto;
    }


    .features-list .features-list-item {
        flex-basis: calc((100% - 72px) / 4);
    }
    .features-list {
        row-gap: unset;
        flex-wrap: nowrap;
    }
    .features-section-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .features-text {
        font-weight: normal;
    }
    .features-icon-box {
        display: flex;
    margin-bottom: 8px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    align-items: center;
    justify-content: center;
    }
    .features-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    .photo-card-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .card-list .card-item {
        flex-basis: calc((100% - 72px) / 4);
    }
    .card-list {
        row-gap: unset;
        flex-wrap: nowrap;
    }


    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .portfolio-list {
        row-gap: 48px;
    }
    .portfolio-list .portfolio-item {
        width: calc((100% - 48px) / 3);
    }


    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer .container {
        gap: unset;
        align-items: baseline;
    }
    .container .logo-and-text {
        margin-right: 120px;
    }
    .social-media {
        margin-right: 80px;
    }
    .email-field {
        opacity: unset;
    }
    .email-field::placeholder {
        opacity: unset;
    }
}